body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #0570fb;
    color: white;
    text-align: center;
    padding: 20px;
}
.header-container {
    display: flexbox;
    align-items: center;
    column-gap: 20px;
}
header .logo{
    width: 100px;
    height: auto;
    display: flexbox;
    margin: 0 auto;
    align-items: center;
}

.header-text h1 {
    margin: 0;
    font-size: 28px;
}

.header-text p {
    margin: 5px 0 0 0;
    font-size: 16px;
}

nav {
background: #333;
text-align: center;
}
nav a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
nav a::after hover {
    background: #808080;
}
/*main content styles*/
section {
    padding: 20px;
    text-align: center;
}
.main-img{
    max-width: 90%;
    height: auto;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px #aaa;
}
/*footer styles*/
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}